<!DOCTYPE html>
<html>
 <head>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js' integrity='sha512-fzff82+8pzHnwA1mQ0dzz9/E0B+ZRizq08yZfya66INZBz86qKTCt9MLU0NCNIgaMJCgeyhujhasnFUsYMsi0Q==' crossorigin='anonymous' referrerpolicy='no-referrer'></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>
        Paradigma-Core
    </title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css'>
 </head>
 <body>
    <section class='section'>
        <div class='container'>
            <h1 class="title">Paradigma Core v5.100221_012</h1>
            <form action="/paradise" method="post">
                <textarea class="textarea" rows="10" name="texto"></textarea><br><br>
                <button class='button is-success'>Resumir</button>
            </form>
       </div>
    </section>
 </body>
</html>